<section class="container py-4">

    @if (!user()) {
        <p class="text-center text-danger">Usuario no encontrado</p>
    } @else {
    <div class="card p-4 mx-auto shadow-lg user-detail-card">

        <div class="row align-items-center">

            <!-- IMAGEN -->
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                <img 
                [src]="user()?.image"
                [alt]="user()?.first_name + ' ' + user()?.last_name"
                class="rounded-circle img-fluid shadow-lg p-1 border border-3 border-white user-photo-hover w-100 max-img"
                >
            </div>

            <!-- LÍNEA VERTICAL -->
            <div class="d-none d-md-flex col-md-1 justify-content-center">
                <div class="bg-secondary divider"></div>
            </div>

            <!-- DATOS -->
            <div class="col-12 col-md-7">

                <h2 class="mb-3">
                {{ user()?.first_name }} {{ user()?.last_name }}
                </h2>

                <p><strong>Usuario:</strong> {{ user()?.username }}</p>
                <p><strong>Email:</strong> {{ user()?.email }}</p>

                <div class="d-flex flex-wrap gap-3 mt-4">
                    <button class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
                    <button class="btn btn-primary shadow-sm btn-hover" [routerLink]="['/updateuser', user()?._id]">Actualizar</button>
                    <button class="btn btn-secondary shadow-sm btn-hover" [routerLink]="['/home']">Volver al listado</button>
                </div>

            </div>

        </div>

    </div>
  }
</section>